<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <MudThemeProvider IsDarkMode=true/>
            <MudDialogProvider />
            <MudSnackbarProvider />
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <LayoutView Layout="@typeof(MainLayout)">
                        <h1>Unauthorized.</h1>
                        <p role="alert">You need to log in to access content.</p>
                    </LayoutView>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <h1>Page not found.</h1>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
